<app-navbar [logoutButton]="true" [name]="userName"></app-navbar>
<div class="container">
  <div class="chat-list mat-elevation-z5">
    <mat-selection-list
      [multiple]="false"
      [hideSingleSelectionIndicator]="true"
      (selectionChange)="joinRoom($event)">
      <ng-container *ngFor="let user of userList">
        <mat-list-option [value]="user">
          <img
            matListItemAvatar
            src="assets/profile-pic.png"
            alt="sample-pic" />
          <p mat-line class="chat-title">
            <span class="chat-name">{{ user.name }}</span>
          </p>
        </mat-list-option>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-selection-list>
  </div>
  <div class="messages mat-elevation-z5">
    <div class="message-header" *ngIf="recieverName; else noMessages">
      <img matListItemAvatar src="assets/profile-pic.png" alt="sample-pic" />
      <h2>{{ recieverName }}</h2>
    </div>
    <ng-template #noMessages>
      <div class="messages-header"><h2>Messages</h2></div>
    </ng-template>
    <mat-divider></mat-divider>
    <div class="chat-area">
      <ng-container *ngIf="messages">
        <ng-container *ngFor="let msg of messages">
          <div
            class="chat-bubble-container"
            [ngClass]="{ sender: senderId === msg.senderId }">
            <div class="chat-bubble" *ngIf="msg.message">
              {{ msg.message }}
            </div>
            <div class="chat-bubble" *ngIf="msg.image">
              <img [src]="msg.image" alt="Image" />
            </div>
          </div>
        </ng-container>
        <div #endOfChat style="visibility: hidden">hi</div>
      </ng-container>
    </div>
    <!-- File input for images -->
    <input
      type="file"
      (change)="onFileSelected($event)"
      #fileInput
      style="display: none" />
    <div class="input-area">
      <mat-form-field appearance="outline">
        <input
          [formControl]="messageControl"
          matInput
          placeholder="Enter your message..."
          (keydown.enter)="sendMessage()" />
        <button mat-icon-button matSuffix (click)="fileInput.click()">
          <mat-icon> attachment </mat-icon>
        </button>
        <button mat-icon-button matSuffix (click)="sendMessage()">
          <mat-icon> send </mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
